<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">

</head>

<body class="container bg-success bg-opacity-50">
  <%- include('partials/navBar'); %>
    <br><br>

    <button><a href="/users/register">Registro</a></button>
    <button><a href="/users/login">Login</a></button>
    <button><a href="/users/profile">Profile</a></button>
    <br><br>

    <h5 class="container text-secondary">
      Login-Register-Session-Cookies-Hashing-Middlewares-Multer-Login-Register-Session-Cookies-Hashing-Middlewares-Multer-Login-Register-Session-Cookies-Hashing-Middlewares-Multer-Login-Register-Session-Cookies-Hashing-Middlewares-Multer-Login-Register-Session-Cookies-Hashing-Middlewares-Multer-Login-Register-Session-Cookies-Hashing-Middlewares-Multer-Login-Register-Session-Cookies-Hashing-Middlewares-Multer-Login-Register-Session-Cookies-Hashing-Middlewares-Multer-Login-Register-Session-Cookies-Hashing-Middlewares-Multer-Login-Register-Session-Cookies-Hashing-Middlewares-Multer-Login-Register-Session-Cookies-Hashing-Middlewares-Multer-Login-Register-Session-Cookies-Hashing-Middlewares-Multer-Login-Register-Session-Cookies-Hashing-Middlewares-Multer-<strong class="text-danger">Login-Register-Session-Cookies-Hashing-Middlewares-Multer-Login-Register-Session-Cookies-Hashing-Middlewares-Multer-</strong>Login-Register-Session-Cookies-Hashing-Middlewares-Multer-Login-Register-Session-Cookies-Hashing-Middlewares-Multer-Login-Register-Session-Cookies-Hashing-Middlewares-Multer-Login-Register-Session-Cookies-Hashing-Middlewares-Multer-Login-Register-Session-Cookies-Hashing-Middlewares-Multer-Login-Register-Session-Cookies-Hashing-Middlewares-Multer-Login-Register-Session-Cookies-Hashing-Middlewares-Multer-Login-Register-Session-Cookies-Hashing-Middlewares-Multer-Login-Register-Session-Cookies-Hashing-Middlewares-Multer-
    </h5>
    


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
      crossorigin="anonymous"></script>

</body>

</html>